<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="show.css">

    <title>Poster</title>
</head>
<body>

  

      <!-- Poster -->
        
          <center>
          <div class="body-border">
            
              <div class="col-image" style="margin-top: 30px">
                <img class="profileImage col-md-12" style="width: 200px; height:200px;" src="">
                <br><br>
                <h4 class="card-name display-4" style="color: red"><b>Nimal</b> </h4>
              </div>
            
              <br><br>
              <p style="">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem error praesentium sed at corporis consequatur tempore molestias nisi ab. Nobis asperiores itaque esse inventore. Non consectetur exercitationem numquam animi totam.
              </p>

              <br>
              <div class="row">

                <div class="col-xl-3">

                </div>

                <div class="col-xl-3">

                </div>

                <div class="col-xl-3">
                  <form action="" method="POST">
                    
                    
                </form> 
                </div>

                <div class="col-lg-3">

                </div>

              </div>

              <br>
              <div class="row">
                  <div class="col-xl-4">
                    <h1>Patient Details</h1>
                    <table border="1px">

                      <tr> <td>NIC number </td> <td>877625468 </td> </tr>
                      <tr> <td> Age</td> <td> 30</td> </tr>
                      <tr> <td> Phone Number</td>  <td>0776534234 </td> </tr>
                      <tr> <td> Address </td> <td> kandy</td> </tr>

                    </table>
                  </div>

                  <div class="col-xl-4">
                    <h1>Required Donation Details</h1>
                    <table border="1px"> 
                      <tr> <td> Donation Amount</td> <td> 100000</td> </tr>
                      <tr> <td> Required Date</td> <td> &nbsp; Before in 11/08/2021,<br> &nbsp; I need this donation <br> &nbsp; for medical treatment.</td> </tr>
                    </table>
                    <br>
                  </div>

                  <div class="col-xl-4">
                    <h1>Patient's Bank Details</h1>
                    <table border="1px">
                      <tr> <td>Bank Name </td> <td> boc</td> </tr>
                      <tr> <td> Bank Account Number </td> <td> 2836728</td> </tr>
                      <tr> <td>Branch Name </td> <td> kandy</td> </tr>
                    </table>
                  </div>

              </div>
         
    
          

        </center>
            
    

         
       
      <!-- End poster -->
    
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>