body {
    background-image: url("images/poster/doc.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ui {
    background-color: rgb(16, 211, 178);
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    opacity: 0.8;
}

#ui label,
h1 {
    color: #fff;
}

.center {
    justify-content: center;
}

.inputUpload {
    right: 60px;
}

.uploadFile {
    position: absolute;
    right: 70px;
    cursor: pointer;
    opacity: 0;
}

.long_button {
    border-radius: 100px;
}

.round_input {
    border-radius: 100px;
}

.round_textarea {
    border-radius: 30px;
}

.filebtn{
    width: 230px;
    height: 40px;
    background: linear-gradient(to right, #a8d15d, #259908);

    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 1200px;
    cursor: pointer;
}

.filebtn:hover{
    width: 230px;
    height: 40px;
    background: linear-gradient(to right, #69e0e0, #1460d1);

    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 1200px;
    cursor: pointer;
}
