.card-deck{
    margin:  0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    font-family: sans-serif;
    margin-top: 2%;
}
.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    background: #cccccc;
    padding: 5px 5px 5px 5px;
}
.card-img-left{
    width: 100%;
    display: block;   
}
.card-body {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0 0 0 2px;
    background: #eeeeee;
    display: inline-block;
    text-align: justify;
    padding-left: 10px;
}
.col-image {
    margin-right: 5px;
}
.card-footer {
    display: flex;
    font-size: 0.8em;
    padding-bottom: 0%;
    background: #cccccc;
}